<% layout('boilerplate') %>

<div class="container py-4">
  <div class="row">
    <div class="col">
      <div class="bg"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2><%= course.title %></h2>
      <p><%= course.desc %></p>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <div id="wistia_<%= course.wistiaId %>" class="wistia_embed" style="width:640px;height:360px;" data-video-width="640" data-video-height="360">&nbsp;</div>
        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/playlist-v1.js"></script>
        <script>
        wistiaPlaylist = Wistia.playlist("<%= course.wistiaId %>", {
          version: "v1",
          theme: "tab",
          videoOptions: {
            volumeControl: true,
            playerColor: "54bbff",
            autoPlay: true,
            videoWidth: "640",
            videoHeight: "360",
            inlineOptionsOnly: true,
            version: "v1"
          },
          videoFoam: "true",
          media_0_0: {
            autoPlay: false,
            controlsVisibleOnLoad: false
          }
        });
        </script>
      </div>
  </div>

  <div class="row pb-5 pt-3">
    <div class="col-md-6">
      <h4>Course Details</h4>
      <h5>Video Duration: <%= course.videoLength %> hours</h5>
      <h5>Language: <%= course.language %></h5>
      <h5>Requirements</h5>
      <%- course.requirements %>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><h5>Enrolled Students</h5></h5>
          <div class="card-text">
            <% if (course.ownByStudent.length === 0) { %>
              <p>0</p>
            <% } else { %>
              <% for(var i = 0; i < course.ownByStudent.length; i++) { %>
                <div class="col-sm-2">
                  <img class="img-fluid" src="<%= course.ownByStudent[i].user.profile.picture %>" />
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
