<% layout('boilerplate') %>

<div class="container py-4">
  <div class="row">
    <div class="col">

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <img src="/imgs/<%= course.thumbnail %>" class="img-fluid">
            </div>

            <div class="col-md-7">
              <h3 class="display-5"><%= course.title %></h3>
              <p><%= course.desc %></p>
              <div class="row">
                <div class="col-lg-6 col-md-offset-3">
                  <p>Price: $<%= course.price %></p>
                  <% if (user) { %>
                    <form action="/payment" method="POST">
                     <input type="hidden" name="courseId" value="<%= course._id %>">
                     <script
                       src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                       data-key="pk_test_MtUntAiIwyeqm7njBAOdkqKg"
                       data-amount="<%= course.price * 100 %>"
                       data-name="elearning"
                       data-description="Widget"
                       data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                       data-locale="auto">
                     </script>
                   </form>
                  <% } else { %>
                    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login to Buy Course &raquo;</a></p>
                  <% } %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row pb-5 pt-3">
        <div class="col-md-6">
          <h4>Course Details</h4>
          <h5>Video Duration: <%= course.videoLength %> hours</h5>
          <h5>Language: <%= course.language %></h5>
          <h5>Requirements</h5>
          <%- course.requirements %>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><h5>Enrolled Students</h5></h5>
              <div class="card-text">
                <% if (course.ownByStudent.length === 0) { %>
                  <p>0</p>
                <% } else { %>
                  <% for(var i = 0; i < course.ownByStudent.length; i++) { %>
                    <div class="col-sm-2">
                      <img class="img-fluid" src="<%= course.ownByStudent[i].user.profile.picture %>" />
                    </div>
                  <% } %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row pb-5 pt-3">
        <div class="col">
          <h4>About the Instructor</h4>
          <h5><%= course.ownByTeacher.profile.name %></h5>
          <p><%= course.ownByTeacher.profile.title %></p>
          <div class="row">
            <div class="col-2">
              <img class="rounded-circle w-100" src="<%= course.ownByTeacher.profile.picture %>" />
            </div>
            <div class="col-10">
              <%= course.ownByTeacher.profile.desc %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
