<% layout('boilerplate') %>

<div class="container py-4">
  <div class="row">
    <div class="col">
      <div class="bg"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Edit Course</h1>
      <form action="" method="post" role="form">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" name="title" id="title" class="form-control" placeholder="<%= course.title %>">
        </div>

        <div class="form-group">
          <label for="name">Price: (USD)</label>
          <input type="text" name="price" id="price" class="form-control" placeholder="<%= course.price / 1000 %>">
        </div>

        <div class="form-group">
          <label for="desc">Description:</label>
          <textarea class="form-control" name="desc" id="desc" rows="3" placeholder="<%= course.desc %>"></textarea>
        </div>

        <div class="form-group">
          <label for="requirements">Requirements:</label>
          <textarea class="form-control" name="requirements" id="requirements" rows="3" placeholder="<%= course.requirements %>"></textarea>
        </div>

        <div class="form-group">
          <label for="language">Language:</label>
          <select class="form-control" id="language" name="language">
              <option value="English">English</option>
              <option value="Chinese">Chinese</option>
              <option value="Spanish">Spanish</option>
              <option value="French">French</option>
            </select>
        </div>

        <div class="form-group">
          <label for="thumbnail">Thumbnail:</label>
          <input type="text" name="thumbnail" id="thumbnail" class="form-control" placeholder="<%= course.thumbnail %>">
        </div>

        <div class="form-group">
          <label for="videoLength">Video Duration:</label>
          <input type="text" name="videoLength" id="videoLength" class="form-control" placeholder="<%= course.videoLength %>">
        </div>

        <div class="form-group">
          <label for="name">Wistia ID:</label>
          <input type="text" name="wistiaId" id="wistiaId" class="form-control" placeholder="<%= course.wistiaId %>">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  $('#language').val("<%= course.language %>")
</script>
