<% layout('boilerplate') %>

<div class="container py-4">
  <div class="jumbotron">
    <div class="container">
      <h3 class="display-5">Courses that you teach</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a href="/create-course" class="btn btn-primary">Create a New Course</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <% for (var i = 0; i < foundUser.coursesTeach.length; i++) { %>
          <div class="col-md-4">
            <div class="card" style="width: 100%">
              <img class="card-img-top" src="/imgs/<%= foundUser.coursesTeach[i].course.thumbnail %>" alt="<%= foundUser.coursesTeach[i].course.title %>">
              <div class="card-header text-center">
                <a href="/courses/<%= foundUser.coursesTeach[i].course._id %>">
                  <%= foundUser.coursesTeach[i].course.title %>
                </a>
              </div>
              <div class="card-block">
                <p class="card-text text-center p-3"><%= foundUser.coursesTeach[i].course.desc %></p>
                <a href="/edit-course/<%= foundUser.coursesTeach[i].course._id %>" class="btn btn-block btn-primary">Edit Course</a>
              </div>
            </div>
          </div>
        <%  } %>
      </div>
    </div>
  </div>
</div>
